button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#marcar-entrada {
    background: green;
}

#marcar-salida {
    background: red;
}

#message {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}